.header-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: var(--spacing-small);
  background: rgb(58,180,177);
  background: linear-gradient(90deg, rgba(58,180,177,1) 0%, rgba(29,199,253,1) 50%, rgba(69,153,252,1) 100%);
}

.header-counter {
  margin-left: auto;
  padding-right: var(--spacing-small);
  font-weight: 700;
  cursor: pointer;
}

